.lands-of-discovery-content{
    background-color: #f3f3f3;
    color: #000;
    width: 100vw;
    height: 30vh;
    padding-top: 2%;
    padding-bottom: 2%;
}
.lands-of-discovery-header{
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    h3, p{
        padding-left: 0.9rem;
        font-size: 3rem;
        font-weight: 50;
        padding-top: 0;
        margin: 0;
        line-height: 1.1;
        letter-spacing: 1px;
    }
}
.lands-of-discovery-para{
    padding-top: 5%;
    padding-left: 0.9rem;
    .para-text{
        font-family: sans-serif;
        font-size: 1.1rem;
        letter-spacing: 0.5px;
        line-height: 2;
        opacity: 1;
        color: #777;
    }
}
.lands-of-discovery-links{
    padding-top: 2%;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    .selected{
        border-bottom: 2px solid #000;
        pointer-events: none;
    }
    a{
        color: #000;
    }
    a:after {
        transition: all ease-in-out .3s;
        background: none repeat scroll 0 0 #000;
        content: "";
        display: block;
        height: 2px;
        width: 0;
    }
    a:hover:after{
      width: 100%;
    }
}

.lands-of-discovery{
    width: 100vw;
    height: 120vh;
    background-color: #f3f3f3;
    background-image: url('https://discoverylandco.com/static/globe-usa.jpg');
    object-fit: cover;
    display: absolute;
    left: 0;
    top: 500;
    background-size: cover;
    background-size:80% 120%;
    background-repeat: no-repeat;
    background-blend-mode:normal;
    z-index: 1;
}
.main-cards-div{
    background-color: #161f1e;
    width: 45vw;
    height: 50vh;
    margin-left: auto;
    margin-right: 5%;
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    position: relative;
    .location-info{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 15%;
        color: hsla(0,0%,100%,.5);
        font-size: 1rem;
        line-height: 2;
        font-family: sans-serif;
        h3{
            color: #fff;
            font-family: serif;
            font-size: 3rem;
            font-weight: 100;
            display: block;
            margin: 0;
            padding: 0;
        }
        button {
            border: 0;
            outline: 0;
            cursor: pointer;
            background-color: #161f1e;
            color: #f3f3f3;
            font-size: 2rem;
        }
        .button-second{
            margin-left: 3%;
        }
    }
}
.weather{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .weather-chart{
        display: flex;
        flex-direction: column;
        margin-right: 20%;
    }
}
.place-name{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}
.location .location-tag{
    display: flex;
    align-items: center;

}
.location-image{
    padding-bottom: 5%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    position: absolute;
    width: 50%;
    height: 100%;
    z-index: 3;
    top: 0;
    right: 0;
    img{
        width: 85%;
        height: 95%;
        -o-object-fit: cover;
        object-fit: cover;
        position: absolute;
        padding-bottom: 10%;
        padding-right: 10%;
    }
}