.lands-of-discovery-content{
    background-color: #f3f3f3;
    color: #000;
    width: 100vw;
    height: 30vh;
    padding-top: 2%;
    padding-bottom: 2%;
}
.lands-of-discovery-header{
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    h3, p{
        padding-left: 0.9rem;
        padding-top: 0;
        margin: 0;
    }
}
.lands-of-discovery-para{
    padding-top: 5%;
    padding-left: 0.9rem;
    .para-text{
        font-family: sans-serif;
        letter-spacing: 0.5px;
        line-height: 2;
        opacity: 1;
        color: #777;
    }
}
.lands-of-discovery-links{
    padding-top: 2%;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    .selected{
        border-bottom: 2px solid #000;
        pointer-events: none;
    }
    a{
        font-size: 1rem;
        color: #000;
    }
    a:after {
        transition: all ease-in-out .3s;
        background: none repeat scroll 0 0 #000;
        content: "";
        display: block;
        height: 2px;
        width: 0;
    }
    a:hover:after{
      width: 100%;
    }
}

.lands-of-discovery{
    width: 100vw;
    height: 120vh;
    background-color: #f3f3f3;
    background-image: url('https://discoverylandco.com/static/globe-usa.jpg');
    object-fit: cover;
    display: flex;
    background-size: cover;
    background-size:80% 120%;
    background-repeat: no-repeat;
    background-blend-mode:normal;
    z-index: 1;
}
.main-cards-div{
    background-color: #161f1e;
    width: 45vw;
    height: 50vh;
    margin-left: auto;
    margin-right: 5%;
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    position: relative;
    .location-info{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 15%;
        color: hsla(0,0%,100%,.5);
        line-height: 2;
        h3{
            color: #fff;
            display: block;
            margin: 0;
            padding: 0;
            line-height: 1;
        }
        button {
            border: 0;
            outline: 0;
            cursor: pointer;
            background-color: #161f1e;
            color: #f3f3f3;
            font-size: 2rem;
        }
        .button-second{
            margin-left: 3%;
        }
    }
}
.weather{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .weather-chart{
        display: flex;
        flex-direction: column;
    }
}
.place-name{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}
.location{
    width: 100%;
    .bi{
        height: 1.5rem;
        width: 1.5rem;
    }
    span{
        font-size: 12px;
    }
}
.location .location-tag{
    display: flex;
    align-items: center;

}
.location-image{
    padding-bottom: 5%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    position: absolute;
    width: 50%;
    height: 100%;
    z-index: 3;
    top: 0;
    right: 0;
    img{
        width: 85%;
        height: 95%;
        -o-object-fit: cover;
        object-fit: cover;
        position: absolute;
        padding-bottom: 10%;
        padding-right: 10%;
    }
}
.bi{
    width: 1.8rem;
    height: 1.8rem;
}
@media screen and (max-width: 1200px) {   
    .lands-of-discovery-header{
        width: 70vw;
    }
    .lands-of-discovery{
        height: 100vh;
        background-size:90% 110%;
    }
    .main-cards-div{
        width: 50vw;
        height: 45vh;
    }
}

@media screen and (max-width: 992px) {
    .lands-of-discovery-header{
        width: 75vw;
    }
    .lands-of-discovery{
        width: 110vw;
        height: 90vh;
        background-size:110% 120%;
    }
    .lands-of-discovery-links a{
        font-size: 0.8rem;
    }
    .main-cards-div{
        margin: 0;
        margin-top: auto;
        width: 100vw;
        height: 40vh;
        .location-info{
            padding: 5%;
        }
    }
    .location-image{
        padding-bottom: 5%;
        img{
            padding-bottom: 20%;
        }
    }
    .weather{
        .weather-chart{
            margin-right: 0;
        }
    }
}

@media screen and (max-width: 768px) {
    .lands-of-discovery-header{
        width: 80vw;
    }
    
}


@media screen and (max-width: 576px) {
    .lands-of-discovery-header{
        width: 95vw;
    }
    .lands-of-discovery-links{
        padding-top: 0;
        padding-left: 1%;
        a{
            font-size: 0.6rem;
        }
    } 
    .lands-of-discovery{
        height: 100vh;
    }
    .main-cards-div{
        height: 50vh;
        .location-info{
            button{
                font-size: 1.2rem;
            }
        }
        span{
            font-size: 0.8rem;
        }
    }
    .bi{
        width: 1.8rem;
        height: 1.8rem;
    }
} 

@media screen and (max-width: 480px) {
    .lands-of-discovery{
        background-size:130% 120%;
    }
    .lands-of-discovery-header{
        width: 98vw;
    }
    .lands-of-discovery-links{
        a{
            font-size: 0.4rem;
        }
    } 
    .main-cards-div{
        .location-info{
            button{
                font-size: 1rem;
            }
        }
        span{
            font-size: 0.6rem;
        }
    }
    .bi{
        width: 1.5rem;
        height: 1.5rem;
    }
} 

@media screen and (max-width: 320px) {
    .lands-of-discovery-content{
        padding-bottom: 15%;
    }
    .bi{
        width: 1rem;
        height: 1rem;
    }
} 