@mixin position($pos){
    position: $pos;
    top: 0;
    left: 0;
}
.hero-scroll {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    border: 1px solid hsla(0,0%,100%,.5);
}
.home-header{
    @include position(relative);
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
}
.home-header video{
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  background: #111;
  background-blend-mode: overlay; 
  @include position(absolute);
  display: block;
  width: 100%;
  object-fit: cover;
}
.home-header-text{
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.home-header-title{
  display: flex;
  height: 100%;
  align-items: center;
  .home-header-text {
    width: 100%;
    display: flex;
    margin: 0;
    padding: 0;
    margin-left: 15%;
    margin-top: 20%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    h1, p{
        position: relative;
        z-index: 3;
        margin: 0;
        padding: 0;
        text-align: left;
        font-size: 80px;
        line-height: 0.8;
    }
    h1{
      font-family: 'Spectral', serif;
      font-weight: 200;
    }
    p{
      padding-left: 5px;
    }
  }
}
.home-banner{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 5%;
}
.round-button{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    border: 1px solid hsla(0,0%,100%,.5);
    outline: 0;
    background-color: transparent;
    font-size: 3rem;
    color: #ffffff;
}
.banner-text{
  font-family: sans-serif;
  h3{
    font-size: 1.2rem;
  }
  p{
      display: block;
      font-size: 1rem;
      color: hsla(0,0%,100%,.65);
  }
} 