.home-footer-div{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 100vh;
    .home-footer-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
        background-color: #000000;
        background-blend-mode: normal;
    }
    .home-footer-image1{
        background-image: url('https://dxaurk9yhilm4.cloudfront.net/images/728/Expereinces_slider_190716_095517_e36797c82dbcb9dea0800f713424f022.jpg');
    }
    .home-footer-image2{
        background-image: url('https://dxaurk9yhilm4.cloudfront.net/images/729/lifestyle_slider_190716_095537_fc98236fcd7afd38ca0fd181cf61bcb6.jpg');
    }
    .home-footer-image3{
        background-image: url('https://dxaurk9yhilm4.cloudfront.net/images/730/wellness_slider_190716_095551_90f8ce634cc6ad7a15d605007f03ee5c.jpg');
    }
    h4{
        line-height: 1.4;
        font-size: 3rem;
        font-family: sans-serif;
        font-weight: 100;
        margin: 0;
    }
    button{
        margin-top: 1.5rem;
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        border: 1px solid #ffffff;
        overflow: hidden;
        cursor: pointer;
        background-color: transparent;
        color: #ffffff;
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 1200px) {   
    .home-footer-div{
        h4{
            font-size: 2.8rem;
        }
    }
}

@media screen and (max-width: 992px) {
    .home-footer-div{
        h4{
            font-size: 2.5rem;
        }
    }
    .home-footer-div{
        height: 55vh;
    }
}

@media screen and (max-width: 768px) {
    .home-footer-div{
        h4{
            font-size: 2rem;
        }
        button{
            height: 3rem;
            width: 3rem;
            font-size: 1.5rem;
        }
    }
}


@media screen and (max-width: 576px) {
    .home-footer-div{
        h4{
            font-size: 1.8rem;
        }
        button{
            height: 2.8rem;
            width: 2.8rem;
            font-size: 1.2rem;
        }
    }
    .home-footer-div{
        grid-template-columns: none;
        grid-template-rows: repeat(3, 1fr);
        height: 100vh;
    }
} 

@media screen and (max-width: 480px) {
    .home-footer-div{
        h4{
            font-size: 1.5rem;
        }
        button{
            height: 2.5rem;
            width: 2.5rem;
            font-size: 1.1rem;
        }
    }
} 

@media screen and (max-width: 320px) {
    .home-footer-div{
        h4{
            font-size: 1.2rem;
        }
        button{
            height: 2rem;
            width: 2rem;
            font-size: 0.9rem;
        }
    }
} 