.explore-our-worlds {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  color: black;
}
.explore-our-worlds-banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  h3,
  p {
    font-size: 3rem;
    font-weight: 50;
    padding-top: 0;
    margin: 0;
    line-height: 1.1;
    letter-spacing: 1px;
  }
  .button-pair button {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: 0;
    outline: 0;
    cursor: pointer;
    background-color: white;
    color: black;
    box-shadow: 0 8px 14px 0 rgb(211, 211, 211);
    font-size: 2rem;
  }
  .button-pair .first-button {
    margin-right: 1.5rem;
  }
  .button-pair button:hover {
    background-color: black;
    color: white;
    transition: background-color 1s ease;
  }
}
.image-holder {
  width: 30vw;
  height: 70vh;
  margin: 2px -8px;

      
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: #000;
    background-blend-mode: darken;
  }
}
.img-description {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 2.5rem 3rem;
  z-index: 5;
  display: flex;
  flex-direction: column;
  text-align: left;

  .img-title {
    margin-bottom: 1rem;
    white-space: normal;
    color: #fff;
    font-size: 2rem;
  }
  .img-location {
    font-size: 14px;
    font-family: messina-sans;
    line-height: 1.5;
    white-space: normal;
    color: #ffffffbf;
  }
}

@mixin white-gradient {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

$animationSpeed: 25s;

// Animation
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

// Styling
.slider {
  overflow: hidden;
  display: flex;
  width: 100%;

  &::before,
  &::after {
    @include white-gradient;
    content: "";
  }

  &::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }

  &::before {
    left: 0;
    top: 0;
  }

  .slider-track {
    animation: scroll $animationSpeed linear infinite;
    width: 60%;
    margin-right: 2%;
    cursor: pointer;
  }
  .slider-track:hover{
    .image-holder img{
        transform: scale(1.1);
        transition: transform 1s ease;
    }
  }

  .slide {
    display: flex;
    flex-direction: row;
  }
}
