.welcome-our-worlds{
    width: 100vw;
    height: max-content;
    //background-image: url('/src/assets/Home/background_image.jpg');
    background-color: #ffffff;
    object-fit: cover;
    background-size: contain;
    background-position: 100%;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
}
.welcome-grid{
    max-width: 70vw;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 5%;
    padding-bottom: 5%;
    grid-gap: 0 10%;
}
.div-image1{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    img{
        height: 75%;
        padding-top: 5%;
        margin-right: auto;
    }
}
.welcome-text{
    color: #222;
    padding-left: 10%;
    padding-top: 5%;
    h3, p{
        font-size: 3rem;
        font-weight: 50;
        padding-top: 0;
        margin: 0;
        line-height: 1.1;
        letter-spacing: 1px;
    }
}
.welcome-para{
    padding-top: 5%;
    .para-text{
        font-family: sans-serif;
        font-size: 1.1rem;
        letter-spacing: 0.5px;
        line-height: 2;
        opacity: 1;
        color: #777;
    }
}
.div-image2{
    column-span: 2;
    padding-top: 10%;
    img{
        height: 75%;
        object-fit: cover;
    }
}