.welcome-our-worlds{
    width: 100vw;
    height: max-content;
    background-color: #f3f3f3;
    
    background-image: url('https://dxaurk9yhilm4.cloudfront.net/images/287/background_imagev2_3580431e48aedf97dcedf972d1481942.jpg');
    object-fit: cover;
    display: absolute;
    left: 0;
    top: 0;
    background-size: contain;
    background-position: 100%;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    z-index: 1;
}
.welcome-grid{
    max-width: 60vw;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 5%;
    grid-gap: 0 15%;
    background-color: #f3f3f3;
}
.div-image1{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    img{
        height: 75%;
        margin-right: auto;
    }
}
.welcome-text{
    color: #222;
    padding-left: 10%;
    padding-top: 5%;
    h3, p{
        font-size: 3rem;
        font-weight: 50;
        padding-top: 0;
        margin: 0;
        line-height: 1.1;
        letter-spacing: 1px;
    }
}
.welcome-para{
    padding-top: 5%;
    .para-text{
        font-family: sans-serif;
        font-size: 1.1rem;
        letter-spacing: 0.5px;
        line-height: 2;
        opacity: 1;
        color: #777;
    }
}
.div-image2{
    column-span: 2;
    img{
        width: 100%;
        height: 75%;
        object-fit: cover;
    }
}