.welcome-our-worlds{
    width: 100vw;
    height: 100vh;
    background-color: #f3f3f3;
    padding-top: 2%;
    padding-bottom: 2%;
}
.for-background{
    background-image: url('https://dxaurk9yhilm4.cloudfront.net/images/287/background_imagev2_3580431e48aedf97dcedf972d1481942.jpg');
    object-fit: cover;
    display: absolute;
    left: 0;
    top: 0;
    background-size: contain;
    background-position: 105%;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    z-index: 1;
}
.welcome-grid-left{
    max-width: 90rem;
    width: 100%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 10%;
    grid-template-areas:
        "content img1"
        "img2 img1";
    padding-top: 5%;
    overflow: hidden;
}
.welcome-grid-right{
    max-width: 90rem;
    width: 100%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 10%;
    grid-template-areas:
        "img1 content"
        "img1 img2";
    padding-top: 5%;
    overflow: hidden;
}
.div-image2-left{
    grid-area: img2;
    margin-top: auto;
    object-fit: cover;
    margin-left: auto;
    width: 100%;
}
.div-image2-right{
    grid-area: img2;
    margin-top: auto;
    object-fit: cover;
    margin-right: auto;
    width: 100%;
}
.welcome-text-left{
    padding-left: 10%;
    grid-area: content;
    color: #222;
    h3, p{
        font-size: 2.5rem;
        padding-top: 0;
        margin: 0;
        line-height: 1;
        letter-spacing: 1px;
    }
}
.welcome-text-right{
    margin-top: auto;
    margin-bottom: auto;
    grid-area: content;
    color: #222;
    h3, p{
        font-size: 2.5rem;
        padding-top: 0;
        margin: 0;
        line-height: 1;
        letter-spacing: 1px;
    }
}
.welcome-para{
    padding-top: 5%;
    .para-text{
        font-family: sans-serif;
        font-size: 1rem;
        line-height: 2;
        opacity: 1;
        color: #777;
    }
}
.div-image1-left{
    grid-area: img1;
    width: 100%;
    object-fit: cover;
    height: 90%;
}
.div-image1-right{
    grid-area: img1;
    width: 100%;
    height: 90%;
    object-fit: cover;
}

@media screen and (max-width: 1500px) {   
    .div-image1-left{
        width: 90%;
    }
    .div-image2-left{
        width: 90%;
    }
}

@media screen and (max-width: 1200px) {   
    .welcome-our-worlds{
        padding-top: 10%;
        height: 80vh;
    }
    .div-image1-left{
        height: 80%;
    }
}

@media screen and (max-width: 992px) {
    .welcome-our-worlds{
        height: max-content;
    }
    .welcome-grid-left{
        grid-template-areas:
            "content content"
            "img1 img1"
            "img2 img2";
    }
    .div-image1-left{
        padding: 10%;
        width: 80%;
        height: 100%;
    }
    .div-image2-left{
        padding-top: 20%;
        padding-bottom: 0;
        margin-bottom: 0;
        width: 100%;
    }
}

@media screen and (max-width: 768px) {

}


@media screen and (max-width: 576px) {

} 

@media screen and (max-width: 480px) {

} 

@media screen and (max-width: 320px) {
 
} 