@mixin position($pos){
    position: $pos;
    top: 0;
    left: 0;
}
.aboout-dlc-header{
    @include position(relative);
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    img{
        object-fit: cover;
        width: 100vw;
        height: 100vh;
        background: #111;
        background-blend-mode: overlay; 
        @include position(absolute);
        display: block;
        width: 100%;
        object-fit: cover;
      }
}